@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

*{
    box-sizing:border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    height:100vh;
    font-weight:300;
    overflow:hidden;
    background: -webkit-linear-gradient(45deg,  rgba(235,68,96,1) 0%,rgba(247,117,96,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  rgba(235,68,96,1) 0%,rgba(247,117,96,1) 100%); 
    background-size:cover;
    .list{
        width: 330px;
        height: 510px;
        background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/body.png);
        border-radius: 2px;
        position: absolute;
        left: 0;
        right: 0;
        overflow: hidden;
        background-size: 100%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        margin: auto;
        &_inner{
            padding: 31px 36px;
            overflow:hidden;
            position: relative;
            &__mask{
                padding:0px 10px;
                img{
                    position:absolute;
                    left:0;
                    width:100%;
                    padding: 10px;
                    top:0;
                    z-index:4

                }
            }
            &__head{
                position:absoulte;

                width:260px;

                h1{
                    color:white;
                    font-size:11px;
                    margin:30px 0px 0px 0px;
                    font-weight:300;
                }
                h2{
                    color:#8b8b8b;
                    font-weight:100;
                    font-size:9px;
                    margin:0 0 30px 0px;
                }
                img{
                    position:relative;
                    z-index:14;
                    width:100%;
                }
            }
            input[type="checkbox"]{
                display:none;
            }
            input[type="checkbox"]:checked + label .game_bg {
                z-index:10;
                opacity:1;
                top: 40px;
                transition:all .7s .35s;
                pointer-events:auto;
            }    
            padding: 31px 36px;
            overflow:hidden;
            position: relative;
            input[type="checkbox"]:checked + label .game .game_pulse__point{
                width:600px;
                height:600px;
                left: -130px;
                transition:all .3s;
                opacity:0;
            }
            input[type="checkbox"]:not(checked) + label .game .game_right{
                transition:all .8s .4s cubic-bezier(1.000, 0.000, 0.255, 1.000);
            }
            input[type="checkbox"]:checked + label .game .game_right{
                position:absolute;
                transition:all .8s .3s cubic-bezier(1.000, 0.000, 0.255, 1.000);
                left:37px;
                top:76px;
            }
            input[type="checkbox"]:checked + label .game_cta{
                pointer-events:none;
                img{
                    top:0px;

                    opacity:1;
                    transition:all 1s .35s cubic-bezier(1.000, 0.000, 0.255, 1.000);;

                }
            }
            input[type="checkbox"]:checked + label .game_info{

                .span-one{
                    top:0px;

                    opacity:1;
                    transition:all 1s .25s cubic-bezier(1.000, 0.000, 0.255, 1.000);;

                }
                .span-two{
                    top:0px;

                    opacity:1;
                    transition:all 1s .3s cubic-bezier(1.000, 0.000, 0.255, 1.000);;

                }
            }
            input[type="checkbox"]:checked + label .game .game_left{
                width: 310px;
                left: 10px;
                top: 6px;
                -webkit-transition: all 0.8s 0.2s cubic-bezier(1, 0, 0.255, 1);
                transition: all 0.8s 0.2s cubic-bezier(1, 0, 0.255, 1);
                margin: 0;
                padding: 0px;
                height: 200px;
                &__image{
                    height:100%;
                    opacity:0.4;
                }
            }
            &__content{
                overflow:hidden;
                height:400px;

                padding-top:60px;

            }
            label{
                @for $i from 1 through 20{
                    &:nth-of-type(#{$i}){
                        .game_left{
                            top:140px + (65px * ($i - 1));
                        }
                        .game_right{
                            top:140px + (65px * ($i - 1));
                            left:170px;
                            transition:all .2s .2s;
                        }

                        .game_pulse{
                            position: absolute;
                            overflow: hidden;
                            top: 281px;

                            opacity:0.5;
                            width: 310px;
                            height: 66px;
                            left: 10px;
                            top:135px + (66px * ($i - 1));
                        }
                    }
                }
            }
            .game{
                width: 100%;
                clear: both;
                margin-bottom: 20px;
                height: 54px;
                &_bg{
                    position: absolute;
                    left: 10px;
                    z-index:10;
                    pointer-events:none;
                    opacity:0;
                    transition:all .8s .5s cubic-bezier(1.000, 0.000, 0.255, 1.000);

                    right: 0;
                    background: linear-gradient(to bottom, rgba(0,0,0,0) 20%,rgba(0,0,0,1) 34%);
                    width: 310px;
                    top: 400px;
                    height: 457px;
                }
                &_cta{
                    position:absolute;
                    z-index:10;
                    top:390px;
                    img{
                        width: 200px;
                        opacity:0;
                        position:relative;
                        top:150px;
                        left:-12px;
                        transition:all 1s 0s cubic-bezier(1.000, 0.000, 0.255, 1.000);
                    }
                }
                &_info{
                    position: absolute;
                    top: 194px;
                    z-index: 10;
                    width: 258px;
                    pointer-events: none;

                    .span-one,.span-two{
                        opacity: 0;
                        top:140px;
                        position:relative;
                    }
                    .span-one{
                        transition:all 1s .1s cubic-bezier(1.000, 0.000, 0.255, 1.000);
                    }
                    .span-two{
                        transition:all 1s .05s cubic-bezier(1.000, 0.000, 0.255, 1.000);
                    }


                    p{
                        color:white;
                        font-size:7px;
                        line-height:13px;
                        clear:left;
                    }
                    hr{
                        width:10px;
                        height:1px;
                        float:left;
                        border:none;
                        margin:5px 0px 5px 0px;
                        background:white; 
                    }
                    h2{
                        color:white;
                        font-weight:100;
                        font-size:12px;
                        margin:0;
                    }
                }
                &_left{
                    float:left;
                    //padding: 0px 40px 0px 15px;
                    position:absolute;
                    margin-left:10px;
                    width: 120px;
                    transition:all .8s .4s cubic-bezier(1.000, 0.000, 0.255, 1.000);
                    height:58px;
                    left:25px; border-radius:2px;
                    top:140px;
                    background:black;
                    &__image{
                        width:100%;
                        transition:opacity .3s .2s;
                        opacity:1;
                        border-radius:2px;
                        height:100%;
                        background-size:cover !important;
                    }
                }
                &_pulse__point{
                    width:0px;
                    height:0px;
                    background:#4d8ec5;
                    z-index:10;
                    transition:all 0s;
                    left:0;
                    border-radius:1400px;
                    top:50%;
                    transform:translateY(-50%);
                    right:0;
                    margin:auto;
                    position:absolute;

                }
                &_right{
                    float:right;
                    width:50%;
                    position:absolute;
                    transition:all .8s 4s cubic-bezier(1.000, 0.000, 0.255, 1.000);
                    &__rating{
                        clear: left;
                    }
                    h3{
                        color:white;
                        font-size:12px;
                        font-weight:100;
                        margin:0;
                    }
                    .date{
                        margin-left:14px;
                    }
                    .genre{
                        clear:left;
                    }
                    .star{
                        position: relative;
                        top:-20px;
                        margin-right:0px;
                        width: 10px;
                        height: 10px;
                        float: left;
                        &_icon{
                            @extend %star;
                        }
                        &_no{
                            @extend %star--no;
                        }
                    }
                    span{
                        float:left;
                        display:inline-block;
                        margin-bottom:-3px;
                        i{
                            color:white;
                            float:left;
                            font-size:8px;
                            margin-right:5px;
                            position:relative;
                            top:2px;
                        }
                        p{
                            float:left;
                        }
                    }
                    hr{
                        width:10px;
                        height:1px;
                        float:left;
                        border:none;
                        margin:5px 0px 5px 0px;
                        background:white;
                    }
                    p{
                        color:white;
                        margin:0;
                        font-size:9px;
                    }
                    .old{
                        position:relative;
                        top:9px;
                        margin:0px 5px 0px 5px;

                        p{
                            text-decoration:line-through;
                            font-size:8px;
                            opacity:0.4;
                        }

                    }
                    .new{
                        position:relative;
                        top:8px;
                        p{
                            color:#86c02a; 
                            font-size:8px;
                        }
                    }
                }
            }
        }
    }
}

%star--no{
    @extend %star;
    border-bottom: 70px  solid #464348 !important;
    color: #464348 !important;
    &:before{
        border-bottom: 80px solid #464348 !important;
    }
    &:after{
        border-bottom: 70px solid #464348 !important;
    }
}
%star{
    margin: 0px 0;
    float:left;
    position: absolute;
    left: -97px;
    display: block;
    color: #ffd800;
    width: 0px;
    height: 0px;
    border-right:  100px solid transparent;
    border-bottom: 70px  solid #ffd800;
    border-left:   100px solid transparent;
    -moz-transform:    rotate(35deg) scale(.045);
    -webkit-transform: rotate(35deg) scale(.045);
    -ms-transform:     rotate(35deg) scale(.045);
    -o-transform:      rotate(35deg) scale(.045);
    &:before{
        border-bottom: 80px solid #ffd800;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        position: absolute;
        height: 0;
        width: 0;
        top: -45px;
        left: -65px;
        display: block;
        content: '';
        -webkit-transform: rotate(-35deg);
        -moz-transform:    rotate(-35deg);
        -ms-transform:     rotate(-35deg);
        -o-transform:      rotate(-35deg);
    }
    &:after{
        position: absolute;
        display: block;
        color: #ffd800;
        top: 3px;
        left: -105px;
        width: 0px;
        height: 0px;
        border-right: 100px solid transparent;
        border-bottom: 70px solid #ffd800;
        border-left: 100px solid transparent;
        -webkit-transform: rotate(-70deg);
        -moz-transform:    rotate(-70deg);
        -ms-transform:     rotate(-70deg);
        -o-transform:      rotate(-70deg);
        content: '';  
    }
}
