* {
    box-sizing: border-box;
}

body {
    display: flex;
}

.copy {
    border: 1px dashed gray;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    cursor: pointer;
    max-width: 400px;

    &:hover {
        background-color: lightgray;
    }
}