html, body{
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	padding: 0;
	margin: 0;

	font-family: Helvetica, Arial, sans-serif;
	background: #000000 url('https://i.imgur.com/viCph4d.jpg') no-repeat scroll center center;
	background-size: 100% 100%;
}


#background{
	position: absolute;
	z-index: -10;
}

#container{
	position: relative;
	overflow: hidden;
}

#gamebox{
	margin: 8px;
}


#gamebox table td{
	overflow: auto;
}

#leftsave{
  position:absolute;

}

#leftbar_c{
	width: 20%;
	max-width: 300px;
	position: relative;
	vertical-align: top;

}

#rightbar_c{
	width: 20%;
	max-width: 200px;
	vertical-align: top;
overflow-x:hidden;

}

#rightbar div:hover {
  box-shadow: inset -5px 5px 15px -5px  #964514, inset 0 -5px 15px -5px  #964514, 2px 5px 5px black;
  cursor: pointer;
}

#rightbar div{
	height: 64px;
	min-width: 200px;
	padding: 6px;
	margin: 2px;
	overflow: hidden;
	cursor: pointer;
	background-color: #242424;
	border: 2px solid #964514;
	border-radius:20px;
  
  
}

#collection_container{
	position: relative;
	height: 400px;
	width: 540px;
}

#great_collection{
  background: url('')no-repeat scroll center center;
	cursor: pointer;
	position: absolute;
	left: 20px;
	top: 0px;
	pointer-events: none;
}

#goomycount{
	font-size: 30px;
  
}

button:hover {
  box-shadow: inset -5px 5px 15px -5px  #964514, inset 0 -5px 15px -5px  #964514, 2px 5px 5px black;
  cursor: pointer;
}

#stats{
	width: 500px;
	margin: auto;
	background-color: #242424;
	border: 2px solid #964514;
	border-radius: 20px;
}

#stats div{ padding: 4px; }
#stats progress{ margin: 0px 4px;}


.plus_marker{
	position: absolute;
	pointer-events: none;
	font-size: 24px;
}



#about_c{
  overflow:hidden;
	vertical-align: bottom;
  color:#964514
    
}

#msgbox{
	position: absolute;
	width: 400px;
	padding: 20px;
	display: none;
	border: 1px solid black;
	background-color: white;
	z-index: 2;
}

p{
	margin-top: 0px;
}

.small{
	font-size: 12px;
}

.smaller{
	font-size: 8px;
}



.dialog_header{
	font-size: 12px;
	font-weight: bold;
}

#export_dialog, #import_dialog, #save_dialog{
	display: none;
overflow-y:hidden;
  
}




div.panel{
	display: none;
	position: absolute;

	padding: 10px 20px;
	border-radius: 20px;

	background-color:#242424;
	border: 2px solid #964514;
}

.indicator{
	font-weight: bold;
}



.container{
	background-color: #242424;
	border: 2px solid #964514;
	border-radius: 20px;
	margin: 10px;
	padding-top: 16px;
}



button{
	background-color: #242424;
	border: 2px solid #964514;
	border-radius: 20px;
	font-size: 12px;
	cursor: pointer;
}

#great_goomy{
  center center;
	cursor: pointer;
}



.itemgps{ font-size:75%; }
.udesc { font-size: 75%; }


#upgrade_bar{
	overflow: auto;
	height: 600px;
position:absolute;
}

#upgrade_bar div:hover {
  box-shadow: inset -5px 5px 15px -5px  #964514, inset 0 -5px 15px -5px  #964514, 2px 5px 5px black;
  cursor: pointer;
  cursor: pointer;
}

#upgrade_bar div{
	padding: 6px;
	margin: 2px;
	overflow: auto;
	cursor: pointer;
	background-color: #242424;
	border: 2px solid #964514;
	border-radius: 20px;
  
}