header
	.menu
		i.fa.fa-bars
		.title Users
	.user
		img(src='https://s3.amazonaws.com/uifaces/faces/twitter/peterme/48.jpg')
		.content
			.name Steve Adams
			.titulus Branch administrator
	.search
		i.fa.fa-search
.statusbar
	.notification
		i.fa.fa-rss
		span No new events.
	.date 
		span Sunday, Jan 10 2016
		i.fa.fa-calendar
	
.container
	.navbar
		ul
			li
				i.fa.fa-home
			li.active 
				i.fa.fa-users
			li
				i.fa.fa-envelope
			li
				i.fa.fa-gear
			li
				i.fa.fa-bell
			li
				i.fa.fa-bar-chart
	.list-group
		ul
			li.active
				.picture
					img(src="https://s3.amazonaws.com/uifaces/faces/twitter/peterlandt/48.jpg")
					.badge.green
						i.fa.fa-check
				.content
					.title Mark Brack
					.description
						.location
							i.fa.fa-map-marker
							span Paris, France
						.tags
							.tag.orange System administrator
							//.tag.blue Clerk
							.tag.green Online
							//.tag.red Inactive
							
				.footer
					.info.left
						i.fa.fa-clock-o
						span Last login: online
							
					.info.right
						i.fa.fa-calendar
						span Added 3 days ago
				.functions
					.func
						i.fa.fa-envelope
					.func
						i.fa.fa-trash

			li
				.picture
					img(src="https://s3.amazonaws.com/uifaces/faces/twitter/ritu/48.jpg")
					.badge.red
						i.fa.fa-times
				.content
					.title Joe Smith
					.description
						.location
							i.fa.fa-map-marker
							span Berlin, Germany
						.tags
							.tag.blue Clerk
							.tag.red Inactive
							
				.footer
					.info.left
						i.fa.fa-clock-o
						span Last login: 5 days ago
							
					.info.right
						i.fa.fa-calendar
						span Added 2 weeks ago
				.functions
					.func
						i.fa.fa-envelope
					.func
						i.fa.fa-trash

			li
				.picture
					img(src="https://s3.amazonaws.com/uifaces/faces/twitter/kfriedson/48.jpg")
					.badge.orange
						i.fa.fa-star
				.content
					.title Susan Friedson
					.description
						.location
							i.fa.fa-map-marker
							span London, UK
						.tags
							.tag.blue Clerk
							
				.footer
					.info.left
						i.fa.fa-clock-o
						span Last login: 3 hours ago
							
					.info.right
						i.fa.fa-calendar
						span Added 1 week ago
				.functions
					.func
						i.fa.fa-envelope
					.func
						i.fa.fa-trash

	.content
		.profile
				.picture
					img(src="https://s3.amazonaws.com/uifaces/faces/twitter/peterlandt/128.jpg")
					.badge.green
						i.fa.fa-check
						
				.details
					.tags
						.tag.orange System administrator
						.tag.green Online
						
					.title Mark Brack
					.titulus Branch administrator
					.description
						.info-row
							i.fa.fa-map-marker
							span.caption Location:
							span.value Paris, France
						.info-row
							i.fa.fa-clock-o
							span.caption Last login:
							span.value online
						.info-row
							i.fa.fa-calendar
							span.caption Created:
							span.value 3 days ago					
				.functions
					.func
						i.fa.fa-envelope
					.func
						i.fa.fa-comments
					.func
						i.fa.fa-edit
					.func
						i.fa.fa-flag
					.func
						i.fa.fa-share-alt
					.func
						i.fa.fa-trash
						
				hr
						
				.further
					.info-row
						.info-block
							i.fa.fa-home
							span.value +2 574 986 224
						.info-block
							i.fa.fa-globe
							span.value https://codepen.io
					.info-row
						.info-block
							i.fa.fa-phone
							span.value +6 865 664 25 69
						.info-block
							i.fa.fa-envelope
							span.value mark.brack@gmail.com

				.further
					.info-row
						.info-block
							i.fa.fa-twitter
							span.value @markbrack
						.info-block
							i.fa.fa-google-plus
							span.value google.com/mark.brack
					.info-row
						.info-block
							i.fa.fa-facebook
							span.value fb.com/mark.brack
						.info-block
							i.fa.fa-youtube
							span.value youtube.com/mark.brack

				hr
		
				.logs
					.title Last events
					table
						tr
							td 2016-01-06
							td Logged in.
						tr
							td 2016-01-05
							td Logged out.
						tr
							td 2016-01-05
							td 
								| New user 
								a(href="#") Susan Friedson
								|  added.
						tr
							td 2016-01-05
							td Logged in.
						tr
							td 2016-01-04
							td Logged out.
						tr
							td 2016-01-05
							td 
								| Changed status of  
								a(href="#") Joe Smith
								|  to inactive.
						tr
							td 2016-01-04
							td Logged in.
							
		