<div ng-app="app" ng-controller="PokedexController as pokedex">
  <div ng-repeat="gen in pokedex.gens">
    <div class="page" ng-repeat="page in gen | chunkBy: 80">
      <table ng-repeat="group in page | chunkBy: 20">
        <tr ng-repeat="pokemon in group">
          <td class="single-check" ng-class="{unavailable: pokemon.region || pokemon.available === false || pokemon.availability === 'Not currently available'}" ng-if="pokedex.checkType === 'single'">
            <div class="check"></div>
          </td>
          <td class="multi-checks" ng-if="pokedex.checkType === 'multi'">
            <div class="check-row"><div class="check">J</div><div class="check">R</div></div>
            <div class="check-row"><div class="check">A</div><div class="check">M</div></div>
          </td>
          <td>
            <img class="pokemon-image" ng-src="https://www.serebii.net/pokemongo/pokemon/{{pokemon.id}}{{pokemon.img ? '-' + pokemon.img : ''}}.png" alt="{{pokemon.name}}" />
          </td>
          <td>
            <div class="pokemon-name">{{pokemon.name}}</div>
            <div class="pokemon-form">{{pokemon.form}}</div>
            <div>{{pokemon.id}} <span class="egg">{{pokemon.egg > 0 ? pokemon.egg + 'km' : ''}}</span></div>
          </td>
          <!--<td>
<img class="pokemon-type" ng-repeat="type in pokemon.types" ng-src="http://www.serebii.net/pokedex-bw/type/{{type}}.gif" alt="{{type}}" />
</td>-->
        </tr>
      </table>
      <div class="clearfix"></div>
    </div>
  </div>
  <a class="print-link" ng-click="pokedex.print()" href="">🖨️ Print</a>
</div>